*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    width:100%;
    height:100vh;
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    display: flex;
    align-items: start;
    justify-content: center;
}
.app{
    width:500px;
    min-height:400px;
    background-color: #efe9e9;
    border-radius: 10px;
    padding:40px;
    margin-top: 80px;
}
h1{
    font-size: 40px;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    color:#1a1471;;
}
h1 img{
    width:45px;
}
.appFunction{
    display: flex;
    margin-top:20px;
    gap:10px;
}
input{
    flex:1;
    padding:10px;
    font-size: 20px;
    border:1px solid #afaeae;
    border-radius: 20px;
    outline:none;
    background-color: transparent;
}
button{
    padding:10px 30px;
    border-radius: 20px;
    border:none;
    outline:blue;
    background-color: #ff4f4f;
    color:white;
    font-size: 20px;
    cursor:pointer;
}
ul li{
    list-style: none;
    /* padding:10px; */
    margin: 20px 0px 0px 20px;
    font-size: 22px;
    cursor: pointer;
    user-select: none;
    position:relative
}
ul li::before{
    content:"";
    background-image: url(unchecked.png);
    background-size: cover;
    width:26px;
    height:26px;
    position:absolute;
    top:0px;
    left:-40px;
    align-items: center;
}
/* ul li::after{
    content:"";
    background-image: url(cross.png);
    background-size: cover;
    width:26px;
    height:26px;
    position:absolute;
    top:0px;
    left:90%;
} */
ul li span{
    position:absolute;
    left:85%;
    text-align: center;
    width:30px;
    height:30px;
    font-size: 30px;
    color:black !important;
}
ul li span:hover{
    color:#818181 !important;
}
li.checked::before{
    content:"";
    background-image: url(checked.png);
    background-size: cover;
    width:26px;
    height:26px;
    position:absolute;
    top:0px;
    left:-40px;
    align-items: center;
}
li.checked{
    text-decoration: line-through;
    color:#959595;
}